$font-stack:  Oswald, sans-serif;
$background-colour: White;
$font-colour: Black;
$secondary-colour: #A36D65;
$title-colour: Black;
// Browns: Light - D3BAB6, Darker - A36D65

@font-face {
  font-family: 'Oswald';
  src: url(../../resources/fonts/Oswald-VariableFont-wght.ttf) format('truetype');
}

body {
  font: 100% $font-stack;
  color: $font-colour;
  background-color: $background-colour;

  // Centering
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Start content from the top */
  min-height: 100vh; /* Ensures body takes full height */
  margin: 0; /* Remove default body margin */
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: right;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

thead, td {
  text-align: left;
}

tbody {
  text-align: right;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Sizing and Positioning */
  width: 70%;           /* Your desired width */
  position: absolute;
  top: 2vw;            /* Vertical distance from the top of the SVG */
  /* Centering Logic */
  left: 50%;            /* Move the left edge to the center of the screen */
  transform: translateX(-50%); /* Shift it left by 50% of its own 70% width */
}

.menu-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 150px;
}

.plain-link {
  color: inherit;
  text-decoration: inherit;
  
  // Align text within the three grid columns
  &:nth-child(1) { text-align: left; }   /* ABOUT */
  &:nth-child(2) { text-align: center; } /* DRINKS */
  &:nth-child(3) { text-align: right; }  /* FOOD */
}

/* Ensure h3 margins don't push the container out of alignment */
.plain-link h3 {
  margin: 0;
  padding: 0 10px; /* Adds a little breathing room from the edges */
  font-size: clamp(1rem, 2.5vw + 1rem, 3rem);
}

.menu-container {
  display: grid;
  margin: auto;
  float: left;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  clear: both;
}

.stack {
  margin: auto;
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%
  //display: block;
}

.back {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 100%;
  //border: 1px solid #000000;
}

.front {
  position: absolute;
  //top: 150px;
  top: 48%;
  left: 52%;
  transform: translate(-55%, -25%);
  height: 48%;
  width: 70%;
  //border: 1px solid #000000;
}
